<h3>Equipment</h3>
<ul>
  <li *ngFor="let equipment of equipments">

     <span *ngIf="equipmentBeingEdited !== equipment; else elseBlock">
        <!-- display state of equipment -->
        <span (click)="edit(equipment)" class="editable-text">{{equipment}}</span>
        <button (click)="remove(equipment)">remove</button>
     </span>

     <ng-template #elseBlock>
        <!-- edit state of member -->
        <input #updatedEquipment (keyup.enter)="save(updatedEquipment.value, equipment)" value="{{experiment}}"/>
        <button (click)="save(updatedEquipment.value, equipment)">save</button>
     </ng-template>

  </li>
</ul>
<input #equipment type="text"/>
<button (click)="add(equipment.value)">Add</button>



